<template>
    <div>
        <h1>Adresse</h1>
        <h5><router-link :to="{ name: 'HelloWorld' }">Accueil</router-link></h5>
        <address-liste v-bind:addresses="addresses"></address-liste>
        <add-address v-on:add-address="addAddress"></add-address>
    </div>
</template>

<script>
    import AddressListe from '../components/AddressListe';
    import AddAddress from '../components/AddAddress';

    var mylib = require('../lib/mylib.js');

    export default {
        name: 'Adresse',
        components: {
            AddressListe,
            AddAddress,
        },
        data() {
            return {
                addresses: mylib.Addresses(),
            };
        },
        methods: {
            addAddress : function(newAddress){
                this.addresses.push(newAddress)
            }
        }
    };
</script>

<style scoped>

</style>
