<template>
    <div class="hello">
        <h1>{{ msg }}</h1>
        <h2>Menu</h2>
        <h5>
            <router-link :to="{ name: 'Moi' }">AroundMe</router-link>
        </h5>
        <h5>
            <router-link :to="{ name: 'Adresse' }">MyAddresses</router-link>
        </h5>
        <address-liste v-bind:addresses="addresses"></address-liste>
    </div>
</template>

<script>
    import AddressListe from '../components/AddressListe.vue';

    var mylib = require('../lib/mylib.js');

    export default {
        name: 'HelloWorld',
        data() {
            return {
                msg: 'Welcome to Your Vue.js App',
                addresses: mylib.Addresses(),
            };
        },
        components: {
            AddressListe,
        },
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h1, h2 {
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>
