<template>
    <div>
        <h1>An savoir plus sur moi</h1><br>
        <h5><router-link :to="{ name: 'HelloWorld' }">Accueil</router-link></h5>
        <br>
        <iframe
            allowfullscreen
            frameborder="0" height="450" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4776245.3811887745!2d-1.780938165422941!3d45.96305718733947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54a02933785731%3A0x6bfd3f96c747d9f7!2sFrance!5e0!3m2!1sfr!2sfr!4v1547144769959" style="border:0" width="600"></iframe>
    </div>
</template>

<script>
    export default {
        name: 'Moi',
    };
</script>

<style scoped>

</style>
