<template>
    <div>
        <p><input placeholder="Nom" type="text" v-model="name"></p>
        <p><input placeholder="Adresse" type="text" v-model="address"/></p>
        <button v-on:click="createAddress">Ajouter</button>
    </div>
</template>

<script>
    export default {
        name: 'AddAddress',
        data: function() {
            return {
                name: '',
                address: '',
            };
        },
        methods: {
            createAddress: function() {
                const name = this.name;
                const address = this.address;
                this.$emit('add-address', {
                    name: name,
                    address: address,
                    favorite: true,
                });
            },
        },
    };
</script>

<style scoped>

</style>
