<template>
    <div>
        <div :key="address.name" v-for="address in addresses">
            <address-item v-bind:address="address"></address-item>
        </div>
    </div>
</template>

<script type="text/javascript">
    import AddressItem from './AddressItem';

    export default {
        name: 'AddressListe',
        props: ['addresses'],
        components: {
            AddressItem,
        },
    };
</script>
<style>
</style>
