<template>
    <p class='content'>
        <em class='label'>
            {{address.name }} :
        </em>
        <span class='desc'>
        {{address.address }}
    </span>
    </p>
</template>

<script>
    export default {
        name: 'AddressItem',
        props: ['address'],
    };
</script>

<style scoped>

</style>
